.taskbar {
  .label {
    &.label-profile {
      .icon {
        display: none;
      }
    }

    &.label-clock {
      display: none;
    }
  }

  .shortcut-container {
    .shortcut {
      max-width: 0;
      opacity: 0;

      &.active {
        max-width: 4.2rem;
        opacity: 1;
      }
    }
  }
}