.icon {
  flex-shrink: 0;

  &.icon-terminal {
    background-image: url(img/icon/terminal.png);
  }

  &.icon-directory {
    background-image: url(img/icon/directory.png);
  }

  &.icon-github {
    background-image: url(img/icon/github.png);
  }

  &.icon-resume {
    background-image: url(img/icon/resume.png);
  }

  &.icon-email {
    background-image: url(img/icon/email.png);
  }

  &.icon-paypal {
    background-image: url(img/icon/paypal.png);
  }

  &.icon-profile {
    background-image: url(https://graph.facebook.com/1935436059816712/picture?type=normal);
  }

  &.icon-browser {
    background-image: url(img/icon/browser.png);
  }

  &.icon-attribution {
    background-image: url(img/icon/attribution.png);
  }

  &.icon-instagram {
    background-image: url(img/icon/instagram.png);
  }

  &.icon-version_history {
    background-image: url(img/icon/version_history.png);
  }
}