.icon {
  flex-shrink: 0;

  &.icon-terminal {
    background-image: url(img/icon/terminal.png);
  }

  &.icon-directory {
    background-image: url(img/icon/directory.png);
  }

  &.icon-github {
    background-image: url(img/icon/github.png);
  }

  &.icon-resume {
    background-image: url(img/icon/resume.png);
  }


  &.icon-profile {
    background-image: url(img/touch/homescreen512.png);
  }

  &.icon-browser {
    background-image: url(img/icon/browser.png);
  }



  &.icon-instagram {
    background-image: url(img/icon/instagram.png);
  }


}