$font-size-large: 1.2rem;
$font-size-normal: 1rem;
$font-size-small: .8rem;
$taskbar-height: 3rem;
$anim-duration: .2s;
$toolbar-height: 2.8rem;
$theme-color: #3D3D3D;

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

* {
  outline: none;
}

@import "icon";

.screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .desktop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $theme-color url(img/wallpaper.jpg) center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: $taskbar-height;

    .github-corner {
      svg {
        fill: #E54E43;
        color: $theme-color;
        position: absolute;
        top: 0;
        border: 0;
        right: 0;
      }
    }

    .app-container {
      display: flex;
      flex-wrap: wrap;
      max-width: 32rem;
      justify-content: center;
      overflow-y: auto;
      padding: 1rem;

      .app {
        position: relative;
        z-index: 1;
        width: 8rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: .2rem;
        transition: background-color $anim-duration;

        &.link-external {
          .name {
            position: relative;

            &:after {
              position: absolute;
              content: '';
              display: inline-block;
              margin-left: .3rem;
              width: .8em;
              height: 100%;
              background: url(img/link-external.png) no-repeat bottom;
              background-size: contain;
              opacity: .5;
            }
          }
        }

        .icon {
          width: 4rem;
          height: 4rem;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          margin-bottom: .2rem;
          filter: drop-shadow(0 0 2px rgba(black, .5));
        }

        .name {
          font-size: $font-size-small;
          color: white;
          text-shadow: 0 0 4px black;
          text-align: center;
          height: 1em;
        }

        &:hover {
          background-color: rgba(black, .2);
          box-shadow: inset 0 0 2px rgba(black, .2);
        }

        &:active {
          background-color: rgba(black, .4);
          box-shadow: inset 0 0 2px rgba(black, .4);
        }
      }
    }

    .window-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;

      @import "window/index";
    }
  }

  @import "taskbar";
}