&#directory {
  .content {
    align-items: stretch;

    .panel-container {
      flex: 1;
      border-right: solid 1px #CCC;
      box-sizing: border-box;
      overflow-y: auto;
      display: flex;
      flex-direction: column;

      &.panel-container-preview {
        flex: 2;
        border-right: none;
      }

      .panel {
        display: none;

        &.open {
          display: flex;
        }

        &.panel-root,
        &.panel-child {
          flex-direction: column;

          .directory {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            padding: .2rem .4rem;

            &.directory-parent {
              display: none;
            }

            .icon {
              height: 1.2rem;
              width: 1.2rem;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              margin-right: .4rem;
            }

            .name {
              font-size: $font-size-small;
              color: black;
            }

            &.active {
              background-color: #116CD6;

              .name {
                color: white;
              }
            }
          }
        }

        &.panel-preview {
          flex-shrink: 0;
          flex-direction: column;
          align-items: center;
          padding: 2rem;

          .preview {
            max-height: 12rem;
            max-width: 16rem;
            margin-bottom: 1rem;
          }

          .property-container {
            display: flex;
            flex-direction: column;

            a.property {
              color: #398FFB;
              word-break: break-all;
            }

            .property {
              display: flex;
              margin-left: -1rem;
              margin-bottom: .8rem;
              color: #444;
              line-height: 1.5em;

              a {
                font-weight: bold;
              }

              &:before {
                font-size: $font-size-small;
                min-width: 4rem;
                color: #999;
                margin-right: .5rem;
                text-align: right;
              }

              &.property-name:before {
                content: 'Name';
              }

              &.property-location:before {
                content: 'Location';
              }

              &.property-date:before {
                content: 'Date';
              }

              &.property-gpa:before {
                content: 'GPA';
              }

              &.property-link:before {
                content: 'Link';
              }

              &.property-detail:before {
                content: 'Detail';
              }

              &.property-organizer:before {
                content: 'Organizer';
              }

              &.property-place:before {
                content: 'Place';
              }

              &.property-position:before {
                content: 'Position';
              }
            }
          }
        }
      }
    }
  }
}
