&#terminal {
  background: none;

  &.focus {
    .content {
      .line-container {
        .line {
          .letter {
            &.cursor {
              border: none;
              margin: 0;
              background-color: #2FCB29;
              color: black;
              @keyframes blink {
                from {
                  background-color: #2FCB29;
                  color: black;
                }
                50% {
                  background-color: black;
                  color: #2FCB29;
                }
              }
              animation: blink 1s 1s infinite step-end;
            }
          }
        }
      }
    }
  }

  .content {
    flex-direction: column;
    align-items: stretch;

    .line-container {
      flex: 1;
      background-color: rgba(black, .9);
      padding: .2rem;
      overflow-y: auto;

      .line {
        flex-shrink: 0;
        font-family: 'Roboto Mono', sans-serif;
        color: #2FCB29;
        font-weight: lighter;
        display: flex;
        flex-wrap: wrap;
        white-space: pre-wrap;
        word-break: break-all;

        &:empty {
          &:before {
            content: '\00a0';
          }
        }

        .letter {
          padding: 0;
          margin: 0;
          white-space: pre;

          &.cursor {
            border: solid 1px #2FCB29;
            margin: -1px;
            box-sizing: border-box;

            &:empty {
              &:before {
                content: '\00a0';
              }
            }
          }
        }

        .highlight {
          font-weight: bold;
        }

        .underline {
          text-decoration: underline;
        }

        .dir {
          color: #65A6CA;
          font-weight: bold;
        }

        .file {
          color: #9DD55E;
        }
      }
    }
  }
}