&#attribution {
  .content {
    .row-container {
      .row {
        flex-direction: column;

        .icon {
          margin-right: 0;
        }

        .info {
          margin-right: 0;
          margin-bottom: 1rem;
          text-align: center;
        }

        .link {
          margin-right: 0;
        }
      }
    }
  }
}