&#directory {
  .content {
    position: relative;

    .panel-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      .panel {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        box-sizing: border-box;
        background-color: white;

        &.panel-root,
        &.panel-child {
          .directory {
            &.directory-parent {
              display: flex;
            }
          }
        }

        &.panel-preview {
          .close {
            position: absolute;
            top: 0;
            right: 0;
            width: 2rem;
            height: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &:after {
              content: '×';
            }
          }
        }
      }
    }
  }
}