.window {
  top: 0 !important;
  left: 0 !important;
  height: calc(100% - #{$taskbar-height}) !important;
  width: 100vw !important;

  .toolbar {
    .button-container {
      cursor: pointer;

      .button {
        pointer-events: none;
      }
    }
  }

  @import "directory";
  @import "paypal";
  @import "attribution";
}