&#paypal {
  .content {
    .menu-container {
      .menu {
        flex-direction: column;
        text-align: center;

        .icon {
          margin-right: 0;
          margin-bottom: .5rem;
        }

        .name {
          margin-right: 0;
          margin-bottom: 1.5rem;
        }

        .price {
          margin-right: 0;
          margin-bottom: .5rem;
        }

        .donate {
        }
      }
    }
  }
}