html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: #80CBC4;
}

@font-face {
    font-family: font;
    src: url('../fonts/HKGrotesk-Regular.eot');
    src: url('../fonts/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HKGrotesk-Regular.woff') format('woff');

}

* {
    line-height: 100%;
}

.font-large {
    font-size: 39px;
    line-height: 39px;
}

.font-medium {
    font-size: 24px;
    line-height: 24px;
}

.font-small {
    font-size: 18px;
    line-height: 18px;
}

.font-smallest {
    font-size: 12px;
    line-height: 12px;
}

.glyphicon-small {
    width: 24px;
    height: 24px;
}

.font-smaller {
    font-size: 15px;
    line-height: 15px;
}

p {
    margin: 0;
    padding: 9px;
}

@media screen and (max-width: 720px), screen and (max-height: 720px) {
    .font-large {
        font-size: 26px;
        line-height: 26px;
    }

    .font-medium {
        font-size: 16px;
        line-height: 16px;
    }

    .font-small {
        font-size: 12px;
        line-height: 12px;
    }

    .font-smallest {
        font-size: 8px;
        line-height: 8px;
    }

    .glyphicon-small {
        width: 16px;
        height: 16px;
    }

    .font-smaller {
        font-size: 10px;
        line-height: 10px;
    }

    p {
        margin: 0;
        padding: 6px;
    }
}

p, span, a {
    font-family: font;
}

.glyphicon {
    display: inline-block;
    vertical-align: text-bottom;
    background-size: 100% 100%;
}

.fake-grid {
    position: absolute;
    display: table;
}

.fake-row {
    display: table-row;
}

.fake-col:before {
    content: "";
}

.fake-col {
    display: table-cell;
    box-sizing: border-box;
}

.cell {
    position: absolute;
    z-index: 0;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cell > .hide {
    flex: 1;
    overflow: auto;
}

.cell > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.icon {
    background-position: center;
    background-repeat: no-repeat;
}

.circle {
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    top: 15%;
    left: 15%;
    max-height: 70%;
    max-width: 70%;
    background-color: #B2DFDB;
    opacity: .9;
    -webkit-transition: .2s ease-out .4s;
    -moz-transition: .2s ease-out .4s;
    -o-transition: .2s ease-out .4s;
    transition: .2s ease-out .4s;
}

.cell:hover > .circle {
    opacity: .8;
    border-radius: 0;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

.text {
    overflow: auto;
}

.cell11 .profile-image {
    background: url('../images/profile_pic.jpg') center no-repeat;
    background-size: cover;
}

.cell11 .profile-contact-wrapper {
    overflow: hidden;
}

.cell11 .profile-contact {
    display: table;
    padding: 2%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(38, 166, 154, .9);
}

.cell11 .profile-contact-wrapper {
    height: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell11:hover .profile-contact-wrapper {
    height: 17%;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell11 .profile-contact a {
    display: table-row;
    text-decoration: none;
}

.cell11 .profile-contact a p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 2% 0 2%;
    white-space: nowrap;
}

.cell11 .profile-contact .font-smaller {
    color: white;
}

.cell11 .link-fb .glyphicon {
    background-image: url('../images/contact_facebook.png');
}

.cell11 .link-email .glyphicon {
    background-image: url('../images/contact_email.png');
}

.cell11 .link-github .glyphicon {
    background-image: url('../images/contact_github.png');
}

.cell12 .profile-text {
    overflow: auto;
    white-space: nowrap;
    background-color: #26A69A;
    max-width: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell11:hover + div > .profile-text, .cell12:hover > .profile-text {
    max-width: 100%;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell12 .profile-text .profile-name {
    margin-top: 2%;
}

.cell12 .profile-text p {
    margin: 0 2% 0 2%;
}

.cell12 .profile-text {
    color: white;
}

.cell12 .profile-section {
    text-decoration: underline;
}

.cell13 {
    background-image: url('../images/bg_award.jpg');
}

.cell13 .icon {
    background-image: url('../images/icon_award.png');
}

.cell13 .text {
    color: #004D40;
}

.cell13 .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell13 > .icon {
    max-height: 100%;
    -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
    -o-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
}

.cell13:hover > .icon {
    max-height: 25%;
    -webkit-transition: max-height .5s ease-out 0s;
    -moz-transition: max-height .5s ease-out 0s;
    -o-transition: max-height .5s ease-out 0s;
    transition: max-height .5s ease-out 0s;
}

.cell22 {
    background-image: url('../images/bg_career.jpg');
}

.cell22 .icon {
    background-image: url('../images/icon_career.png');
}

.cell22 .career-section:nth-child(odd) {
    background-color: rgba(0, 77, 64, .1);
}

.cell22 p:not(.career-header, .career-explanation) {
    padding: 2% 4% 2% 12%;
}

.cell22 .font-small {
    color: #004D40;
}

.cell22 .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell22 .career-header {
    color: #004D40;
    padding: 4%;
}

.cell22 .career-section {
    cursor: pointer;
}

.cell22 .career-section:hover {
    background-color: rgba(0, 77, 64, .2);
}

.cell22 .career-section > :not(.career-header) {
    display: none;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell22 .career-section.active > :not(.career-header) {
    display: block;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell22 .career-header.font-medium, .cell22 .career-header .font-medium {
}

.cell22 .career-header .font-medium {
    padding: 0;
}

.cell22 .career-explanation {
    padding-top: 0;
}

.cell22 .career-explanation .font-smaller {
    color: #004D40;
    padding: 0;
}

.cell22 > .icon {
    max-height: 100%;
    -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
    -o-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
}

.cell22:hover > .icon {
    max-height: 16.67%;
    -webkit-transition: max-height .5s ease-out 0s;
    -moz-transition: max-height .5s ease-out 0s;
    -o-transition: max-height .5s ease-out 0s;
    transition: max-height .5s ease-out 0s;
}

.cell31 {
    background-image: url('../images/bg_education.jpg');
}

.cell31 .icon {
    background-image: url('../images/icon_education.png');
}

.cell31 .text {
    color: #004D40;
}

.cell31 .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell31 > .icon {
    max-height: 100%;
    -webkit-transition: max-height .5s ease-out;
    -moz-transition: max-height .5s ease-out;
    -o-transition: max-height .5s ease-out;
    transition: max-height .5s ease-out;
}

.cell31:hover > .icon {
    max-height: 25%;
    -webkit-transition: max-height .5s ease-out 0s;
    -moz-transition: max-height .5s ease-out 0s;
    -o-transition: max-height .5s ease-out 0s;
    transition: max-height .5s ease-out 0s;
}

.cell33 {
    background-image: url('../images/bg_skill.jpg');
}

.cell33 .icon {
    background-image: url('../images/icon_skill.png');
}

.cell33 .description {
    position: absolute;
    top: 70%;
    left: 0;
    color: #00897B;
}

.cell33 .description {
    opacity: 0;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell33:hover .description {
    opacity: 1;
    -webkit-transition: .5s ease-out;
    -moz-transition: .5s ease-out;
    -o-transition: .5s ease-out;
    transition: .5s ease-out;
}

.cell33 .text {
    color: #004D40;
}

.cell33 .skill .font-smaller {
    color: #00897B;
    font-style: italic;
}

.cell33 .skill {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cell33 .skill-bar {
    display: inline-block;
    margin: 1% 0 1% 0;
    width: 100%;
    background: rgba(0, 77, 64, .5);
    overflow: hidden;
}

.cell33 .skill-bar-value {
    padding: 2%;
    background: rgba(255, 255, 255, .7);
    white-space: nowrap;
}

.cell33 > .icon {
    max-width: 100%;
    -webkit-transition: max-width .5s ease-out;
    -moz-transition: max-width .5s ease-out;
    -o-transition: max-width .5s ease-out;
    transition: max-width .5s ease-out;
}

.cell33:hover > .icon {
    max-width: 25%;
    -webkit-transition: max-width .5s ease-out 0s;
    -moz-transition: max-width .5s ease-out 0s;
    -o-transition: max-width .5s ease-out 0s;
    transition: max-width .5s ease-out 0s;
}

.cell12, .cell21, .cell23, .cell32 {
    background: #4DB6AC;
}

.license {
    z-index: 9999;
    padding: 4px;
    background: rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 0;
    right: 0;
}

.license a {
    text-decoration: none;
    color: white;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loading.gif') center no-repeat #FFFFFF;
}